<nav class="navbar navbar-expand-lg bg-secondary">
    <a class="navbar-brand text-white" routerLink="/">Angular Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">Employee Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/dynamic-ag" routerLinkActive="active">Dynamic AG Grid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/reactive" routerLinkActive="active">Reactive Form </a>
          </li>
             </ul>
       </div>
  </nav>
  
<router-outlet></router-outlet>
